WindowsFormsAppProiect/WindowsFormsAppProiect/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="logIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isAdmin" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="logInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="logInResult" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isAdmin" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="makeAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="makeAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="makeAdminResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addFacultyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addFacultyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteFacultyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteFacultyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateFacultyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateFacultyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="course" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="link" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editPost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editPostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editPostResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePost">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePostResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePostResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postedBy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postedByResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postedByResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="year" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="semester" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="faculty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="addCourseResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCourseNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseYear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newYear" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseYearResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCourseYearResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseSemester">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="newSem" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseSemesterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCourseSemesterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseFaculty">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newFaculty" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editCourseFacultyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editCourseFacultyResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllPosts">
        <s:complexType />
      </s:element>
      <s:element name="getAllPostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllPostsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFaculties">
        <s:complexType />
      </s:element>
      <s:element name="getAllFacultiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacultiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllCourses">
        <s:complexType />
      </s:element>
      <s:element name="getAllCoursesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllCoursesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="facultate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="an" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="semestru" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCourseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="editNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldUsername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editUsernameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsernameById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUsernameByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUsernameByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newEmail" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editPassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="oldPassword" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="editPasswordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="editPasswordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="arr" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getImageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPostByTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPostByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPostByTitleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getCommentsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idUser" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="postCommentResponse">
        <s:complexType />
      </s:element>
      <s:element name="getLinkByTitle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLinkByTitleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getLinkByTitleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPostById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPostByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPostByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTitleByCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="course" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTitleByCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTitleByCourseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="logInSoapIn">
    <wsdl:part name="parameters" element="tns:logIn" />
  </wsdl:message>
  <wsdl:message name="logInSoapOut">
    <wsdl:part name="parameters" element="tns:logInResponse" />
  </wsdl:message>
  <wsdl:message name="addUserSoapIn">
    <wsdl:part name="parameters" element="tns:addUser" />
  </wsdl:message>
  <wsdl:message name="addUserSoapOut">
    <wsdl:part name="parameters" element="tns:addUserResponse" />
  </wsdl:message>
  <wsdl:message name="makeAdminSoapIn">
    <wsdl:part name="parameters" element="tns:makeAdmin" />
  </wsdl:message>
  <wsdl:message name="makeAdminSoapOut">
    <wsdl:part name="parameters" element="tns:makeAdminResponse" />
  </wsdl:message>
  <wsdl:message name="addFacultySoapIn">
    <wsdl:part name="parameters" element="tns:addFaculty" />
  </wsdl:message>
  <wsdl:message name="addFacultySoapOut">
    <wsdl:part name="parameters" element="tns:addFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="deleteFacultySoapIn">
    <wsdl:part name="parameters" element="tns:deleteFaculty" />
  </wsdl:message>
  <wsdl:message name="deleteFacultySoapOut">
    <wsdl:part name="parameters" element="tns:deleteFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="updateFacultySoapIn">
    <wsdl:part name="parameters" element="tns:updateFaculty" />
  </wsdl:message>
  <wsdl:message name="updateFacultySoapOut">
    <wsdl:part name="parameters" element="tns:updateFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="addPostSoapIn">
    <wsdl:part name="parameters" element="tns:addPost" />
  </wsdl:message>
  <wsdl:message name="addPostSoapOut">
    <wsdl:part name="parameters" element="tns:addPostResponse" />
  </wsdl:message>
  <wsdl:message name="editPostSoapIn">
    <wsdl:part name="parameters" element="tns:editPost" />
  </wsdl:message>
  <wsdl:message name="editPostSoapOut">
    <wsdl:part name="parameters" element="tns:editPostResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePostSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePost" />
  </wsdl:message>
  <wsdl:message name="DeletePostSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePostResponse" />
  </wsdl:message>
  <wsdl:message name="postedBySoapIn">
    <wsdl:part name="parameters" element="tns:postedBy" />
  </wsdl:message>
  <wsdl:message name="postedBySoapOut">
    <wsdl:part name="parameters" element="tns:postedByResponse" />
  </wsdl:message>
  <wsdl:message name="addCourseSoapIn">
    <wsdl:part name="parameters" element="tns:addCourse" />
  </wsdl:message>
  <wsdl:message name="addCourseSoapOut">
    <wsdl:part name="parameters" element="tns:addCourseResponse" />
  </wsdl:message>
  <wsdl:message name="editCourseNameSoapIn">
    <wsdl:part name="parameters" element="tns:editCourseName" />
  </wsdl:message>
  <wsdl:message name="editCourseNameSoapOut">
    <wsdl:part name="parameters" element="tns:editCourseNameResponse" />
  </wsdl:message>
  <wsdl:message name="editCourseYearSoapIn">
    <wsdl:part name="parameters" element="tns:editCourseYear" />
  </wsdl:message>
  <wsdl:message name="editCourseYearSoapOut">
    <wsdl:part name="parameters" element="tns:editCourseYearResponse" />
  </wsdl:message>
  <wsdl:message name="editCourseSemesterSoapIn">
    <wsdl:part name="parameters" element="tns:editCourseSemester" />
  </wsdl:message>
  <wsdl:message name="editCourseSemesterSoapOut">
    <wsdl:part name="parameters" element="tns:editCourseSemesterResponse" />
  </wsdl:message>
  <wsdl:message name="editCourseFacultySoapIn">
    <wsdl:part name="parameters" element="tns:editCourseFaculty" />
  </wsdl:message>
  <wsdl:message name="editCourseFacultySoapOut">
    <wsdl:part name="parameters" element="tns:editCourseFacultyResponse" />
  </wsdl:message>
  <wsdl:message name="deleteCourseSoapIn">
    <wsdl:part name="parameters" element="tns:deleteCourse" />
  </wsdl:message>
  <wsdl:message name="deleteCourseSoapOut">
    <wsdl:part name="parameters" element="tns:deleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="getAllPostsSoapIn">
    <wsdl:part name="parameters" element="tns:getAllPosts" />
  </wsdl:message>
  <wsdl:message name="getAllPostsSoapOut">
    <wsdl:part name="parameters" element="tns:getAllPostsResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacultiesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFaculties" />
  </wsdl:message>
  <wsdl:message name="getAllFacultiesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="getAllCoursesSoapIn">
    <wsdl:part name="parameters" element="tns:getAllCourses" />
  </wsdl:message>
  <wsdl:message name="getAllCoursesSoapOut">
    <wsdl:part name="parameters" element="tns:getAllCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="getCourseSoapIn">
    <wsdl:part name="parameters" element="tns:getCourse" />
  </wsdl:message>
  <wsdl:message name="getCourseSoapOut">
    <wsdl:part name="parameters" element="tns:getCourseResponse" />
  </wsdl:message>
  <wsdl:message name="editNameSoapIn">
    <wsdl:part name="parameters" element="tns:editName" />
  </wsdl:message>
  <wsdl:message name="editNameSoapOut">
    <wsdl:part name="parameters" element="tns:editNameResponse" />
  </wsdl:message>
  <wsdl:message name="editUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:editUsername" />
  </wsdl:message>
  <wsdl:message name="editUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:editUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="getUsernameByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getUsernameById" />
  </wsdl:message>
  <wsdl:message name="getUsernameByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getUsernameByIdResponse" />
  </wsdl:message>
  <wsdl:message name="editEmailSoapIn">
    <wsdl:part name="parameters" element="tns:editEmail" />
  </wsdl:message>
  <wsdl:message name="editEmailSoapOut">
    <wsdl:part name="parameters" element="tns:editEmailResponse" />
  </wsdl:message>
  <wsdl:message name="editPasswordSoapIn">
    <wsdl:part name="parameters" element="tns:editPassword" />
  </wsdl:message>
  <wsdl:message name="editPasswordSoapOut">
    <wsdl:part name="parameters" element="tns:editPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDataSoapIn">
    <wsdl:part name="parameters" element="tns:getUserData" />
  </wsdl:message>
  <wsdl:message name="getUserDataSoapOut">
    <wsdl:part name="parameters" element="tns:getUserDataResponse" />
  </wsdl:message>
  <wsdl:message name="insertImageSoapIn">
    <wsdl:part name="parameters" element="tns:insertImage" />
  </wsdl:message>
  <wsdl:message name="insertImageSoapOut">
    <wsdl:part name="parameters" element="tns:insertImageResponse" />
  </wsdl:message>
  <wsdl:message name="getImageSoapIn">
    <wsdl:part name="parameters" element="tns:getImage" />
  </wsdl:message>
  <wsdl:message name="getImageSoapOut">
    <wsdl:part name="parameters" element="tns:getImageResponse" />
  </wsdl:message>
  <wsdl:message name="getPostByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:getPostByTitle" />
  </wsdl:message>
  <wsdl:message name="getPostByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:getPostByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="getCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:getComments" />
  </wsdl:message>
  <wsdl:message name="getCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:getCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="postCommentSoapIn">
    <wsdl:part name="parameters" element="tns:postComment" />
  </wsdl:message>
  <wsdl:message name="postCommentSoapOut">
    <wsdl:part name="parameters" element="tns:postCommentResponse" />
  </wsdl:message>
  <wsdl:message name="getLinkByTitleSoapIn">
    <wsdl:part name="parameters" element="tns:getLinkByTitle" />
  </wsdl:message>
  <wsdl:message name="getLinkByTitleSoapOut">
    <wsdl:part name="parameters" element="tns:getLinkByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="getPostByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getPostById" />
  </wsdl:message>
  <wsdl:message name="getPostByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getPostByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getTitleByCourseSoapIn">
    <wsdl:part name="parameters" element="tns:getTitleByCourse" />
  </wsdl:message>
  <wsdl:message name="getTitleByCourseSoapOut">
    <wsdl:part name="parameters" element="tns:getTitleByCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="logIn">
      <wsdl:input message="tns:logInSoapIn" />
      <wsdl:output message="tns:logInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <wsdl:input message="tns:addUserSoapIn" />
      <wsdl:output message="tns:addUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="makeAdmin">
      <wsdl:input message="tns:makeAdminSoapIn" />
      <wsdl:output message="tns:makeAdminSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addFaculty">
      <wsdl:input message="tns:addFacultySoapIn" />
      <wsdl:output message="tns:addFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteFaculty">
      <wsdl:input message="tns:deleteFacultySoapIn" />
      <wsdl:output message="tns:deleteFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateFaculty">
      <wsdl:input message="tns:updateFacultySoapIn" />
      <wsdl:output message="tns:updateFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <wsdl:input message="tns:addPostSoapIn" />
      <wsdl:output message="tns:addPostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <wsdl:input message="tns:editPostSoapIn" />
      <wsdl:output message="tns:editPostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <wsdl:input message="tns:DeletePostSoapIn" />
      <wsdl:output message="tns:DeletePostSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postedBy">
      <wsdl:input message="tns:postedBySoapIn" />
      <wsdl:output message="tns:postedBySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <wsdl:input message="tns:addCourseSoapIn" />
      <wsdl:output message="tns:addCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCourseName">
      <wsdl:input message="tns:editCourseNameSoapIn" />
      <wsdl:output message="tns:editCourseNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCourseYear">
      <wsdl:input message="tns:editCourseYearSoapIn" />
      <wsdl:output message="tns:editCourseYearSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCourseSemester">
      <wsdl:input message="tns:editCourseSemesterSoapIn" />
      <wsdl:output message="tns:editCourseSemesterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editCourseFaculty">
      <wsdl:input message="tns:editCourseFacultySoapIn" />
      <wsdl:output message="tns:editCourseFacultySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteCourse">
      <wsdl:input message="tns:deleteCourseSoapIn" />
      <wsdl:output message="tns:deleteCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllPosts">
      <wsdl:input message="tns:getAllPostsSoapIn" />
      <wsdl:output message="tns:getAllPostsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFaculties">
      <wsdl:input message="tns:getAllFacultiesSoapIn" />
      <wsdl:output message="tns:getAllFacultiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllCourses">
      <wsdl:input message="tns:getAllCoursesSoapIn" />
      <wsdl:output message="tns:getAllCoursesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getCourse">
      <wsdl:input message="tns:getCourseSoapIn" />
      <wsdl:output message="tns:getCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editName">
      <wsdl:input message="tns:editNameSoapIn" />
      <wsdl:output message="tns:editNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editUsername">
      <wsdl:input message="tns:editUsernameSoapIn" />
      <wsdl:output message="tns:editUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUsernameById">
      <wsdl:input message="tns:getUsernameByIdSoapIn" />
      <wsdl:output message="tns:getUsernameByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editEmail">
      <wsdl:input message="tns:editEmailSoapIn" />
      <wsdl:output message="tns:editEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="editPassword">
      <wsdl:input message="tns:editPasswordSoapIn" />
      <wsdl:output message="tns:editPasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserData">
      <wsdl:input message="tns:getUserDataSoapIn" />
      <wsdl:output message="tns:getUserDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertImage">
      <wsdl:input message="tns:insertImageSoapIn" />
      <wsdl:output message="tns:insertImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <wsdl:input message="tns:getImageSoapIn" />
      <wsdl:output message="tns:getImageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPostByTitle">
      <wsdl:input message="tns:getPostByTitleSoapIn" />
      <wsdl:output message="tns:getPostByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <wsdl:input message="tns:getCommentsSoapIn" />
      <wsdl:output message="tns:getCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="postComment">
      <wsdl:input message="tns:postCommentSoapIn" />
      <wsdl:output message="tns:postCommentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getLinkByTitle">
      <wsdl:input message="tns:getLinkByTitleSoapIn" />
      <wsdl:output message="tns:getLinkByTitleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPostById">
      <wsdl:input message="tns:getPostByIdSoapIn" />
      <wsdl:output message="tns:getPostByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTitleByCourse">
      <wsdl:input message="tns:getTitleByCourseSoapIn" />
      <wsdl:output message="tns:getTitleByCourseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logIn">
      <soap:operation soapAction="http://tempuri.org/logIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAdmin">
      <soap:operation soapAction="http://tempuri.org/makeAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFaculty">
      <soap:operation soapAction="http://tempuri.org/addFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFaculty">
      <soap:operation soapAction="http://tempuri.org/deleteFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFaculty">
      <soap:operation soapAction="http://tempuri.org/updateFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap:operation soapAction="http://tempuri.org/addPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <soap:operation soapAction="http://tempuri.org/editPost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap:operation soapAction="http://tempuri.org/DeletePost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postedBy">
      <soap:operation soapAction="http://tempuri.org/postedBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap:operation soapAction="http://tempuri.org/addCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseName">
      <soap:operation soapAction="http://tempuri.org/editCourseName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseYear">
      <soap:operation soapAction="http://tempuri.org/editCourseYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseSemester">
      <soap:operation soapAction="http://tempuri.org/editCourseSemester" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseFaculty">
      <soap:operation soapAction="http://tempuri.org/editCourseFaculty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCourse">
      <soap:operation soapAction="http://tempuri.org/deleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPosts">
      <soap:operation soapAction="http://tempuri.org/getAllPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFaculties">
      <soap:operation soapAction="http://tempuri.org/getAllFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCourses">
      <soap:operation soapAction="http://tempuri.org/getAllCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourse">
      <soap:operation soapAction="http://tempuri.org/getCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editName">
      <soap:operation soapAction="http://tempuri.org/editName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUsername">
      <soap:operation soapAction="http://tempuri.org/editUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsernameById">
      <soap:operation soapAction="http://tempuri.org/getUsernameById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editEmail">
      <soap:operation soapAction="http://tempuri.org/editEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPassword">
      <soap:operation soapAction="http://tempuri.org/editPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserData">
      <soap:operation soapAction="http://tempuri.org/getUserData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertImage">
      <soap:operation soapAction="http://tempuri.org/insertImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <soap:operation soapAction="http://tempuri.org/getImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostByTitle">
      <soap:operation soapAction="http://tempuri.org/getPostByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <soap:operation soapAction="http://tempuri.org/getComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postComment">
      <soap:operation soapAction="http://tempuri.org/postComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLinkByTitle">
      <soap:operation soapAction="http://tempuri.org/getLinkByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostById">
      <soap:operation soapAction="http://tempuri.org/getPostById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTitleByCourse">
      <soap:operation soapAction="http://tempuri.org/getTitleByCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logIn">
      <soap12:operation soapAction="http://tempuri.org/logIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addUser">
      <soap12:operation soapAction="http://tempuri.org/addUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeAdmin">
      <soap12:operation soapAction="http://tempuri.org/makeAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addFaculty">
      <soap12:operation soapAction="http://tempuri.org/addFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteFaculty">
      <soap12:operation soapAction="http://tempuri.org/deleteFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateFaculty">
      <soap12:operation soapAction="http://tempuri.org/updateFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addPost">
      <soap12:operation soapAction="http://tempuri.org/addPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPost">
      <soap12:operation soapAction="http://tempuri.org/editPost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePost">
      <soap12:operation soapAction="http://tempuri.org/DeletePost" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postedBy">
      <soap12:operation soapAction="http://tempuri.org/postedBy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addCourse">
      <soap12:operation soapAction="http://tempuri.org/addCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseName">
      <soap12:operation soapAction="http://tempuri.org/editCourseName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseYear">
      <soap12:operation soapAction="http://tempuri.org/editCourseYear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseSemester">
      <soap12:operation soapAction="http://tempuri.org/editCourseSemester" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editCourseFaculty">
      <soap12:operation soapAction="http://tempuri.org/editCourseFaculty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCourse">
      <soap12:operation soapAction="http://tempuri.org/deleteCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllPosts">
      <soap12:operation soapAction="http://tempuri.org/getAllPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFaculties">
      <soap12:operation soapAction="http://tempuri.org/getAllFaculties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllCourses">
      <soap12:operation soapAction="http://tempuri.org/getAllCourses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourse">
      <soap12:operation soapAction="http://tempuri.org/getCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editName">
      <soap12:operation soapAction="http://tempuri.org/editName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editUsername">
      <soap12:operation soapAction="http://tempuri.org/editUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsernameById">
      <soap12:operation soapAction="http://tempuri.org/getUsernameById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editEmail">
      <soap12:operation soapAction="http://tempuri.org/editEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editPassword">
      <soap12:operation soapAction="http://tempuri.org/editPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserData">
      <soap12:operation soapAction="http://tempuri.org/getUserData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertImage">
      <soap12:operation soapAction="http://tempuri.org/insertImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getImage">
      <soap12:operation soapAction="http://tempuri.org/getImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostByTitle">
      <soap12:operation soapAction="http://tempuri.org/getPostByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getComments">
      <soap12:operation soapAction="http://tempuri.org/getComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="postComment">
      <soap12:operation soapAction="http://tempuri.org/postComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLinkByTitle">
      <soap12:operation soapAction="http://tempuri.org/getLinkByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPostById">
      <soap12:operation soapAction="http://tempuri.org/getPostById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTitleByCourse">
      <soap12:operation soapAction="http://tempuri.org/getTitleByCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:55625/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:55625/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>